/*genel*/
*{
  margin: 0px;
  padding: 0px;
}
.syfa{
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.container-fluid {
  background-color:rgb(233, 64, 64);
  border-radius: 0px;
  border-color: transparent;
  padding: 6px;
  margin: 0px;
}
.navbar-default .navbar-header a{

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  transition: color .2s linear;
  color: white;
}
.navbar-default .navbar-header a:hover{
  color:black;
}
.navbar-default .navbar-nav li a{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
}
.navbar-default .navbar-nav li a:hover{
color: black;
}
.navbar-default .navbar-right li a{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 20px;
  color: white;
}


/*Anasayfa*/
.index{
  background-color:rgb(226, 222, 222);
}
.sayfa{
  background-color:slategrey;
width: 100%;
margin: 0px;
padding: 0px;
}
.sayfa .baslik .list-group-item-heading{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sayfa .baslik .f3{
  color: black;
  font-size: 15px;
}
.alt-bölüm{
  background-color: rgb(226, 222, 222);
  margin: 0px;
  padding: 0px;
}
.alt-bölüm .baba ul li{
  background-color: slategrey;
  color: white;
}
.alt-bölüm .alt_baslik{
  color: red;
}
.alt-bölüm .ögrenimim{
  width: 100%;
}
.alt-bölüm .ögrenimim ul{
  list-style-type: none;
}
.alt-bölüm .ögrenimim ul li{
  font-size: 15px;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  float: left;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  line-height: 15px;
  color: blue;
}


/*Hakkımda Sayfası*/
/*section alanı*/
.home-5-bg{
  background-color: rgb(226, 222, 222);
  display: flex;
  flex-direction: column;

}
.home-5-bg .container .hakkımda{
  
  align-items: center;
  display: flex;
  flex-direction: column;
  color:red;
}
.home-5-bg .container .yazı{
  font-size: 20px;
  color: black;
}
/*alt alan*/
.alt_alan{
  color: white;
  background-color:rgb(233, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  height: 150px;
  padding: 10px;
  width: 100%;
  margin: 0px;
}
.alt_alan .alt_alan_baslik{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
}
.alt_alan .wrapper {
  display: inline-flex;
  justify-content: center;
}
.alt_alan .wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.alt_alan .wrapper a:nth-child(1) {
  color: #3f729b;

}
.alt_alan .wrapper a:nth-child(2) {
  color: #3f729b;
}
.alt_alan .wrapper a:nth-child(3) {
  color: #3f729b;
}
.alt_alan .wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
/*Özgeçmiş*/
.Özgeçmiş .container .baslik2{
  font-size: 50px;
  text-align: center;
  color: red;
}
.bilgiler .img-fluid{
  width: 120px;
  height: auto;
  border-radius: 70px;
  border-style: solid;
  border-color: red;
  border-width: 3px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bilgiler table thead tr th{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: red;
  
}
.bilgiler table tbody tr td{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: black;
}
.aaa{
  background-color: rgb(226, 222, 222);
  color: red;
  font-size: 25px;
}
/*Şehrim*/

.header{
  color: red;
  background-color: rgb(226, 222, 222);
  text-align: center;
  padding-top: 0px;
  margin: 0px;
}
.sehir table {
  border-collapse: collapse;
  width: 100%;
}

.sehir th , td{

  text-align: center;
  padding: 10px;
}

.ortala{
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#slider .carousel-inner img{
  width: 900px;
  height: 400px;
}
#slider .carousel-inner #yazi{
  color: red;
  text-align: center;
}


.yazilar .img-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
padding:0px;
width: 100%;
height: 400px;
}
.yazilar #yazi2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  color:black;
  margin: 10px;
  padding: 10px;

}
tr:nth-child(even) {background-color: #f2f2f2;}
/*Takımım*/
.mt-3{
  width:100%;
  height: 100%;
  background-color: red;
  margin: 0px;
  padding: 0px;
}
.mt-3 .gümüş{
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.mt-3 .img-fluid{
  margin: 0px;
  padding: 0px;
  width: 300px;
  float: left;
}
.mt-3 .text-justify{
  color: yellow;
font-size: 19px;
}
.resim{
  width: 100%;
  height: 100%;
  background-color: red;
}
.resim .rounded{
  float: left;
}
.resim .yazzi{
  font-size: 30px;
}
.resim .text-justify{
  font-size: 20px;
}

.cimbom{
  width: 100%;
  height: 400px;
}
.hakkimda .container .gs{
  font-size: 40px;
  color: red;
}
.hakkimda .container .fas{
  font-size: 10px;
}
.hakkimda .gs_hakkinda{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.başarı table tbody tr ul li{
  list-style-type: none;
}
.başarı table thead tr th{
  font-size: 20px;
  color: red;
  text-align: center;
}
/*İlgi Alanım*/

/*İletişim Sayfası*/
.İletişim{
  background-color: rgb(226, 222, 222);
}
/*İlet.html*/
.balikcilar-jumbotron .container .ilet{
  background-color: red;
}

/*Login sayfası*/
 .giriş{
   background-color: rgb(226, 222, 222);
 }
 .giriş .Ekran{
   color: red;
 }
 .forms{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }
 .forms .EMAİL{
   margin: 15px;
   font-size: 50px;
 }
 .forms .sifre{
   font-size: 50px;
 }
 .forms .form-group{
   width: 350px;
 }
 .site_giris{
   background-color: rgb(226, 222, 222);
 }
 .site_giris .asdf{
   font-size: 30px;
 }